@use '../abstracts' as *;

.text-columns {
  @include page-grid;

  .button {
    margin-left: auto;
  }

  @include breakpoint-down(medium) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      text-align: center;
    }

    .button {
      margin: 0;
    }
  }
}